body {
    background-color: #AF670c;
    background-image: linear-gradient(to bottom, #ffffff, #af670c);
    background-repeat: no-repeat;
}


h1 {
    font-family: Lucida Handwriting;
    height: 60px;
    margin-top: 0;
    color: #ff8000;
    text-align: center;
    text-transform: uppercase;
}
h2 {
    font-family: fantasy;
    font-style: italic;
}
footer {
    font-style: italic;
    text-align: center;
}
header {
    background-image: url(main-background-footer.jpg);
    background-position: right;
    background-repeat: no-repeat;
    height: auto;
    width: auto;
    font-size: 1em;
    padding-bottom: 
}
footer {
    font-size: 1.00em;
    
}
title {
    font-style: oblique;
}
nav {
    font-family: fantasy;
    height: auto;
}
img {
    float: right;
}
main {
    background-color: #FFC500;
}
    
a {
    text-decoration: none;
    font-weight: bold;
    font-size: 1.0em;
}
#dragon {
    background-image: url(Neverwinter_-_Rise_of_Tiamat.jpg);
    height: 400px;
    background-size: 100% 100%;
    background-repeat: no-repeat;
}
li {
    text-transform: uppercase;
}
#wrapper {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    background-color: #90ee90;
    box-shadow: 3px 3px 3px #333;
    padding-left: 1px;
}
h3 {
    color: #ffffff;
    color: rgba(255, 255, 255, 0.8);
    font-family: verdana, helvetica, sans-serif;
    font-size: 1.3em;
    padding-right: 10px;
    text-align: left;
}
nav ul {
    list-style-type: none;
}
