body {
    background-color: #AF670c;
    background-image: linear-gradient(to bottom, #ffffff, #af670c);
    background-repeat: no-repeat;
}
h1 {
    font-family: Lucida Handwriting;
    height: 60px;
    margin-top: 0;
    color: #ff8000;
    text-align: center;
    text-transform: uppercase;
}
h2 {
    color:black;
}
header {
    background-image: url(main-background-footer.jpg);
    background-position: right;
    background-repeat: no-repeat;
    height: auto;
    width: auto;
    font-size: 1em;
}
footer {
    font-size: 1.00em;
    font-style: italic;
    text-align: center;
    color: #131107;
    background-color: #e3fb00;
}
title {
    font-style: oblique;
}
img {
    float: left;
    border-style: double;
}
main {
    background-color: #ffa249;
}
a {
    text-decoration: underline;
    font-weight: bold;
    font-size: .85em;
    color: black;
}
#dragon {
    background-image: url(Neverwinter_-_Rise_of_Tiamat.jpg);
    height: 400px;
    background-size: 100% 120%;
    background-repeat: no-repeat;
    background-position: center;
}
#wrapper {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    background-color: #ebd5b3;
    box-shadow: 3px 3px 3px #333;
}
h3 {
    color:black;
    font-family: verdana, helvetica, sans-serif;
    font-size: 1.3em;
    padding-right: 3px;
}
nav {
    color: #000000;
    font-family: Lucida Handwriting;
    font-size: 1.2em;
    font-weight: bold;
    letter-spacing: 3px;
    background-color: #ff6700;
    text-align: center;
    padding-top: 5px;
    padding-bottom: 1px;
}
.job {
    color: #000000;
    font-family: Lucida Handwriting;
    font-size: medium;
    font-weight: bold;
    letter-spacing: 1px;
    background-color: #ff6700;
    text-align: center;
}
#ranger {
    background-image: url(FrederickLorensiel_zpssebuojwx.jpg);
    height: 150px;
    background-repeat: no-repeat;
    background-position: left;
    background-size: contain;
    padding-left: 10px;
    margin-left: 10px;
}
p {
    font-family: Lucida Handwriting;
    color: black;
}
dd {
    color: black;
    font-family: Lucida Handwriting;
    font-size: .9em;
}
dt {
    color:black;
    font-size: 1.5em;
}
ul {
    list-style: none;
}
a {
    text-decoration: none;
    text-align: center;
}
article header {
    text-align: left;
}
aside {
    float: right;
    font-family: Lucida Handwriting;
    background-color: darkorange;
    font-size: 80%;
    box-shadow: 5px 5px 5px #333333;
    position: relative;
    top: -20px;
}    header,
main,
nav,
footer,
section,
article,
aside,
figure,
figcaption {
    display: block;
}
figure {
    float: right;
    width: 260px;
    margin: 10px;
}
figcaption {
    text-align: center;
    font-size: .8em;
}
#content {list-style-type: none; background-color:blueviolet;}
nav a:link {color: #ffffff;}
nav a: visited {color: #eaeaea;}
nav a: hover {color: #000066; background-color:#eaeaea;}
nav li {
    display: inline;
}

nav a {
    text-decoration: none;
    padding-left: 10px;
    padding-right: 10px;
}
#top {text-align: center;}
