


body {
    background-color: #AF670c;
    background-image: linear-gradient(to bottom,#ffffff, #af670c);
    background-repeat: no-repeat;
}

#    content {
    color: blue;
    font-size: .75em;
}

.Edgarfgreenwood {
    color: blue;
}

h1 {
    font-family: Lucida Handwriting;
    height: 60px;
    margin-top: 0;
    color: #ff8000;
    text-align: center;text-transform: uppercase;
}

h2 {
    font-family: fantasy;
    font-style: italic;
}

footer {
    font-style: italic;
}

header {
    background-image: url(main-background-footer.jpg);
    background-position: right;
    background-repeat: no-repeat;
    height: auto;
    width: auto;
    font-size: 1em;
    border-radius: 15px;
    margin-bottom: 10px;
}



footer {
    font-size: 1.00em; margin-left: 190px;
}

title {
    font-style: oblique;
}

nav {float: left;
    padding: 20px;
    font-family: fantasy;
    width: 160px;
    height: auto;
    
}

img {
    float: right;
}







main {
    background-color: #173825;;
    padding-top: 1px;
    padding-right: 10px;
    padding-bottom: 10px;
    padding-left: 30px;
    margin-left: 190px;
}

a {text-decoration: none;
    font-weight: bold;
    font-size: 1.0em;
}

#dragon {
    background-image: url(Neverwinter_-_Rise_of_Tiamat.jpg);
    height: 400px;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-position: center;
}

li {
    text-transform: uppercase;
}

#wrapper {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    background-color: #90ee90;
    min-width: 719px;
    max-width: 1280px;
    box-shadow: 3px 3px 3px #333;
}

h2 {
    text-shadow: 1px 1px 1px #ff0000;
}

h3 {
    color: #ffffff;
    color: rgba(255, 255, 255, 0.8);
    font-family: verdana, helvetica, sans-serif;
    font-size: 1.3em;
    padding-right: 10px;
    text-align: left;
}
    

    
}