body {background-color:#AF670c; color: black; }

#content {color: #ff00cc; } 

.Edgarfgreenwood {color:aquamarine;}
H1 { font-family: Lucida Handwriting; }
footer {font-style: italic; }
h1 {text-align: center; }
nav{text-align: center; }
h1 {line-height: 2.0em; }
h1{font-size:3.0em; }
footer{font-size: .40em }
p {font-family:fantasy; }
title {font-style: oblique; }
nav{font-size: 2.0em; }
li {font-family:fantasy; font-size: 1.5em; }
H1 {background-image: url(main-background-footer.png); background-repeat: no-repeat; background-position: center; }
H2 {font-family: cursive; font-size:2.0em; }
nav{font-style:italic; }
H1 {color: #ff8000; }
ol{list-style-type: upper-alpha;}
a {font-weight: bold; font-size: 2.0em; }
h1 {text-transform: uppercase; }
a {text-decoration: none ;}
img {align-content: center;}
p {font-size:1.3em; }
#Dragon {background-image: url(neverwinter_nights_dragon_sky_mountain_wings_22041_3840x2160.png); background-size: cover;}

