body {
    background-color: #AF670c;
    background-image: linear-gradient(to bottom, #ffffff, #af670c);
    background-repeat: no-repeat;
}
    

#content {
    color: #ff00cc;
}

.Edgarfgreenwood {
    color: aquamarine;
}

H1 {
    font-family: Lucida Handwriting;
}

     


#body {
    background-repeat: no-repeat;
}

footer {
    font-style: italic;
}
    header {
        background-image: url(main-background-footer.jpg);
        background-position: right;
        background-repeat: no-repeat;
        height:80px;
        padding-top: 15px;
        
    }

h1 {
    text-align: center;
}

nav {
    text-align: center;
}

h1 {
    line-height: 2.0em; margin-bottom: 0;
}

h1 {
    font-size: 3.0em; margin-top: 0;
}

footer {
    font-size: 1.40em
}

p {
    font-family: fantasy;
}

title {
    font-style: oblique;
}

nav {
    font-size: 1.75em;
    background-color: #af670c;
    padding: 10px;
    font-family: cursive;
}

li {
    font-family: fantasy;
    font-size: 1.0em;
}

#wrapper {
    margin-left: auto;
    margin-right: auto;
    width: 80%;
    min-width: 960px;240px; box-shadow: 3px 3px 3px;
}


H2 {
    font-family: cursive;
    font-size:2.0em;
}



H1 {
    color: #ff8000;
}

dd {font-weight: bold;
   
}

a {
    font-weight: bold;
    font-size:1.0em;
}

h1 {
    text-transform: uppercase;
}

a {
    text-decoration: none;
}




}


}




}

p {
    line-height: 2.0em;
}

p {
    font-size: 1.25em;
}

ol {
    list-style-type: upper-alpha;
}

a {
    font-weight: bold;
    font-size: 1.0em;
}
#gradient {
    margin-left: auto;
    margin-right: auto;
    width: 80;
    background-color: #ffffff;
    min-width: 650px;
    max-width: 1280px;
    box-shadow: 3px 3px 3px #333;
}

#dragon {
   background-image: url(Neverwinter_-_Rise_of_Tiamat.jpg);
 height: 300px;
 background-size: 100% 100%;
 background-repeat: no-repeat;
 
  }
 
h3 {
    line-height: 1.0em;
    font-size: 1.25em;
}
dt {font-weight: bolder;}    
